html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#mainContent {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  text-align: center;
  border: 1px solid black;
  background: #FFF;
  background-size: cover; }
  #mainContent div, #mainContent img {
    position: absolute; }

.spriteSheet {
  background: url("../img/spriteSheet.png") no-repeat; }

.copy {
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px); }

.hide {
  opacity: 0; }

#logo {
  background-position: -7px -7px;
  top: 6px;
  left: 6px;
  width: 70px;
  height: 13px; }

#cameraOne {
  background-position: -56px -246px;
  height: 194px;
  width: 186px;
  top: 21px;
  left: 55px; }

#cameraTwo {
  background-position: -56px -460px;
  height: 193px;
  width: 186px;
  top: 21px;
  left: 55px; }

#blurCameraOne {
  background-position: -34px -881px;
  height: 191px;
  width: 236px;
  top: 23px;
  left: 35px; }

#blurCameraTwo {
  background-position: -44px -1091px;
  height: 193px;
  width: 217px;
  top: 21px;
  left: 43px; }

#cameraThree {
  background-position: -35px -669px;
  height: 193px;
  width: 227px;
  top: 21px;
  left: 34px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

#copyOne {
  background-position: -53px -440px;
  height: 20px;
  width: 196px;
  top: 220px;
  left: 52px; }

#copyTwo {
  background-position: -33px -650px;
  height: 21px;
  width: 237px;
  top: 219px;
  left: 32px; }

#copyThree {
  background-position: -33px -862px;
  height: 20px;
  width: 237px;
  top: 219px;
  left: 32px; }

#copyFour {
  background-position: -29px -1070px;
  height: 20px;
  width: 241px;
  top: 220px;
  left: 28px; }

#copyFive {
  background-position: -1px -26px;
  top: 25px;
  left: 0px;
  width: 300px;
  height: 196px; }

#smallCopy {
  background-position: -51px -223px;
  top: 222px;
  left: 50px;
  width: 100px;
  height: 20px; }

#cta {
  background-position: -154px -222px;
  top: 221px;
  left: 153px;
  width: 92px;
  height: 23px; }
